<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhangxin.mybatis.mapper.ContentMapper">
  <resultMap id="BaseResultMap" type="com.zhangxin.mybatis.model.Content">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="c_Id" jdbcType="BIGINT" property="cId" />
    <result column="c_title" jdbcType="VARCHAR" property="cTitle" />
    <result column="c_author" jdbcType="VARCHAR" property="cAuthor" />
    <result column="c_desc" jdbcType="VARCHAR" property="cDesc" />
    <result column="c_create_date" jdbcType="TIMESTAMP" property="cCreateDate" />
    <result column="c_content" jdbcType="LONGVARBINARY" property="cContent" />
    <result column="c_pic" jdbcType="LONGVARBINARY" property="cPic" />
  </resultMap>
  
  <select id="selectByContent" resultMap="BaseResultMap">
    select c.* from content c left join content_type s on s.c_id=c.c_id
    <where>
      <if test="cTitle != null and cTitle != ''">
        c_title like concat('%',concat(#{cTitle}, '%'))
      </if>
      <if test="cAuthor != null and cAuthor != ''">
        and c_Author like concat('%',concat(#{cAuthor}, '%'))
      </if>
      <if test="type != null and type != ''">
        and s.t_id =#{type}
      </if>
    </where>
	order by c.c_title;
  </select>
  
  
</mapper>